<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h2 class="text-center">About Us</h2>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id volutpat nisl. Mauris eu ligula non leo vulputate feugiat nec sed magna. Cras imperdiet mauris quis ipsum feugiat rhoncus. Maecenas venenatis mollis tortor vel elementum. Pellentesque porttitor odio eget sem congue rhoncus. Suspendisse vitae interdum ante, sed pellentesque nisi. Aliquam lectus sapien, dignissim eget egestas ut, vehicula vitae neque. Cras placerat justo non mauris fringilla ultrices.</p>
        </div>
    </div>
</div>