.job_title_icon {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 4px;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
    text-align: center;
}

.well.profile_description {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.well.contact-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
   
}

.profile-block {
    margin-top: 0;
    }
    
.profile-avatar-thumb {
    height: 75px;
    width: 75px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-box-shadow: -3px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -3px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -3px 5px 5px 0px rgba(50, 50, 50, 0.75);
}

.profile-avatar{
    height: 75px;
    width: 75px;
    border: 1px solid white;
    -webkit-box-shadow: -3px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -3px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -3px 5px 5px 0px rgba(50, 50, 50, 0.75);
}

.well.lightgray-bg {
    background-color: lightgray;
}